node_modules
tests
coverage
.github
.idea
.DS_Store
jest.config.js
eslint.config.mjs
knip.json
typedoc.json
typedoc.css
tsconfig.json
tsconfig.build.json
.prettierignore
.prettierrc.mjs
.releaserc.json
*.log
.devcontainer
docker-compose.yml